footer {
  background-color: #301a78;
  color: $white;

  > p {
    color: $lightGray;
  }

  h5 {
    color: $darkGray;
  }

  button {
    width: 120px;
  }

  > div p {
    text-align: justify;
  }
}
