@keyframes heartBeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

header {
  background-color: #301a78;
  color: #ffffff;

  > svg {
    fill: transparent;
    stroke: #ffd000;
    width: 80px;
    height: 80px;
    animation: heartBeat 1.5s infinite;
  }

  h1 {
    color: #ffd000;
  }
}
