@import "_/fonts/font-face.scss";
@import "bootstrap/dist/css/bootstrap.min.css";

@import "./layouts/header.scss";
@import "./layouts/footer.scss";

body {
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: Vazir, Kalameh;
  box-sizing: border-box;
}
