@import "/public/fonts/font-face.scss";

body {
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: Vazir, Kalameh;
  box-sizing: border-box;
}
